<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      lang="ru">
<head>
    <title>Добавляем продукт</title>
    <link type="text/css" rel="stylesheet" th:href="@{../css/main.css}"/>
</head>
<body>
<h2>Добавление продукта</h2>
<p th:text="${message}">Сообщение</p>
<div class="div-product">
    <form action="/products/add" method="post">
        <table>
            <tr>
                <td>
                    <label for="name">Название продукта</label>
                </td>
                <td>
                    <input placeholder="Молоко 2.5%" required type="text" name="name" id="name"/><br>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="brand">Производителя</label>
                </td>
                <td>
                    <input placeholder="Алтайская буренка" type="text" name="brand" id="brand"/><br>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="protein">Белки</label>
                </td>
                <td>
                    <input placeholder="0.00" type="number" step="0.01" name="protein" id="protein"/><br>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="fat">Жиры</label>
                </td>
                <td>
                    <input placeholder="0.00" type="number" step="0.01" name="fat" id="fat"/><br>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="carbs">Углеводы</label>
                </td>
                <td>
                    <input placeholder="0.00" type="number" step="0.01" name="carbs" id="carbs"/><br>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="fibers">Пищевые волокна</label>
                </td>
                <td>
                    <input placeholder="0.00" type="number" step="0.01" name="fibers" id="fibers"/><br>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="kkal">Ккал</label>
                </td>
                <td>
                    <input placeholder="Можно оставить пустым" type="number" step="0.01" name="kkal" id="kkal"/><br>
                </td>
            </tr>
        </table>
        <input type="submit" value="Добавить продукт"><br>
        <a href="/products/my">Мои продукты</a><br>
        <a href="/products/all">Все продукты</a>
    </form>
</div>
</body>
</html>