<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit product</title>
</head>
<body>
<h1>Edit product</h1>
<p th:text="${message}">Сообщение</p>
<form method="post">
    <label for="name">Название продукта</label>
    <input th:value="${product.getName()}" required type="text" name="name" id="name"/>
    <label for="brand">Производителя</label>
    <input th:value="${product.getBrand()}" required type="text" name="brand" id="brand"/>
    <label for="protein">Белки</label>
    <input th:value="${product.getProtein()}" type="number" step="0.01" name="protein" id="protein"/>
    <label for="fat">Жиры</label>
    <input th:value="${product.getFat()}" type="number" step="0.01" name="fat" id="fat"/>
    <label for="carbohydrates">Углеводы</label>
    <input th:value="${product.getCarb()}" type="number" step="0.01" name="carbohydrates" id="carbohydrates"/>
    <label for="alimentaryFiber">Пищевые волокна</label>
    <input th:value="${product.getFibers()}" type="number" step="0.01" name="alimentaryFiber" id="alimentaryFiber"/>
    <label for="kilocalorie">Ккал</label>
    <input th:value="${product.getKkal()}" placeholder="Можно оставить пустым" type="number" step="0.01" name="kilocalorie" id="kilocalorie"/>
    <input type="submit" value="Изменить продукт">
</form>
</body>
</html>