<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title>Hello World!</title>
</head>
<body>
<h1 th:inline="text">Продукты, добавленные <span th:remove="tag" sec:authentication="name">thymeleaf</span></h1>
<!--Выдаем из БД-->
<div th:each="el : ${products}">
    <h3 th:text="${el.getName()} + ' от ' + ${el.getBrand()} + '. Ккал: ' + ${el.getKkal()}"></h3>
    <p th:text="'Пищевая ценность в 100г продукта: белков - ' + ${el.getProtein()} + ' г; '
         + 'жиров - ' + ${el.getFat()} + ' г; '
         + 'углеводов - : ' + ${el.getCarb()} + ' г; '
         + 'пищевых волокон - ' + ${el.getFibers()} + ' г.'"></p>
    <a th:href="'/products/edit/' + ${el.getId()}">Редактировать</a>
    <form th:action="'/products/del/' + ${el.getId()}" method="post">
        <button type="submit">Удалить</button>
    </form><br><br>
</div>
<div>
    <a href="/products/add">Добавить продукт</a><br>
    <a href="/hello">На главную</a>
</div>
</body>
</html>