<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Spring Security Example </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
</head>
<body>
<div class="modal modal-sheet position-static d-block bg-body-secondary p-4 py-md-5" tabindex="-1" role="dialog"
     id="modalSignin">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-header p-5 pb-4 border-bottom-0">
                <h1 class="fw-bold mb-0 fs-2">Авторизация 😄</h1>
                <a href="/">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </a>
            </div>

            <div class="modal-body p-5 pt-0">
                <form th:action="@{/login}" method="post">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control rounded-3" id="floatingInput" placeholder="ivan"
                               name="username">
                        <label for="floatingInput">Введите имя пользователя</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control rounded-3" id="floatingPassword"
                               placeholder="Password" name="password">
                        <label for="floatingPassword">Введите пароль</label>
                    </div>
                    <div th:if="${param.error}">
                        Неверный логин или пароль.
                    </div>
                    <div th:if="${param.logout}">
                        Вы вышли из системы.
                    </div>
                    <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Войти</button>
                    <small class="text-body-secondary">Для создания аккаунта - <a
                            href="/registration">тык</a></small>
                    <hr class="my-4">
                    <h2 class="fs-5 fw-bold mb-3">Войти через</h2>
                    <button class="w-100 py-2 mb-2 btn btn-outline-secondary rounded-3" type="submit">
                        <svg class="bi me-1" width="16" height="16">
                            <use xlink:href="#google"></use>
                        </svg>
                        Google
                    </button>
                    <button class="w-100 py-2 mb-2 btn btn-outline-primary rounded-3" type="submit">
                        <svg class="bi me-1" width="16" height="16">
                            <use xlink:href="#vk"></use>
                        </svg>
                        Вконтакте
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>