<div th:fragment="table">
    <h2 th:text="${currentDate}"></h2>
    <div class="table-responsive small">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Белки</th>
                <th scope="col">Жиры</th>
                <th scope="col">Углеводы</th>
                <th scope="col">Пищевые волокна</th>
                <th scope="col">Энергетическая ценность</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><b>Завтрак</b></td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td><b>Обед</b></td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td><b>Ужин</b></td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td><b>Перекус</b></td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td><b>Итого</b></td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>