<!--<div th:fragment="pfc-dia-2">-->
<!--    <section>-->
<!--        <div class="circle-container">-->
<!--            <h2>Соотношение БЖУ</h2>-->
<!--            <div id="protein" class="circle-data"></div>-->
<!--            <div id="fat" class="circle-data"></div>-->
<!--            <div id="carbs" class="circle-data"></div>-->
<!--            <div id="fibers" class="circle-data"></div>-->
<!--        </div>-->
<!--        <div class="circle-right-desc">-->
<!--            <ul>-->
<!--                <li data-name="Protein">Белки</li>-->
<!--                <li data-name="Fat">Жиры</li>-->
<!--                <li data-name="Carbs">Углеводы</li>-->
<!--                <li data-name="Fibers">Пищевые волокна</li>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </section>-->
<!--</div>-->

<div th:fragment="kcal-diagramm" class="block df f-central">
    <section>
        <h2 class="ta-center">Расход ккал</h2>
        <div class="pie animate" style="--p:90;--c:lightgreen"> 90%</div>
    </section>
</div>

<div th:fragment="pfc-dia" class="block df f-central">
    <div>
        <h2 class="ta-center">Расход бжу</h2>
        <svg class="pie" width="200" viewBox="0 0 40 40">
            <g>
                <circle r="15.9155" cx="50%" cy="50%"></circle>
                <circle r="15.9155" cx="50%" cy="50%"></circle>
                <circle r="15.9155" cx="50%" cy="50%"></circle>
                <circle r="15.9155" cx="50%" cy="50%"></circle>
                <text x="50%" y="50%">Белки 25%</text>
                <text x="50%" y="50%">Жиры 25%</text>
                <text x="50%" y="50%">Углеводы 25%</text>
                <text x="50%" y="50%">Волокна 25%</text>
            </g>
        </svg>
    </div>
</div>

<div th:fragment="table" class="full-fb df f-central ph-10px pv-5px">
    <div class="full-fb block-border">
        <h2 class="ta-center pv-5px" th:text="${currentDate}"></h2>
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Белки</th>
                <th>Жиры</th>
                <th>Углеводы</th>
                <th>Пищевые волокна</th>
                <th>Ккал</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><b>Завтрак</b></td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td><b>Обед</b></td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td><b>Ужин</b></td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td><b>Перекус</b></td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td><b>Итого</b></td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
